.input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    border: 1px solid rgb(205, 204, 204);
    border-radius: 1rem;
    padding: 0.5rem;
    flex-grow: 1;
}


.login-btn {
    background-color: rgb(57, 169, 255);
    color: white;
}