/* ฉากหลังเต็มจอ */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 99; 
  display: flex;
  justify-content: center; 
  align-items: center;    
  backdrop-filter: blur(2px);
}


.modal-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px; 
  position: relative;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  animation: popIn 0.3s ease; 
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Animation เด้งดึ๋ง */
@keyframes popIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}